@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    box-sizing:border-box;
}

body {

    background: url(images/lake-night.jpg);
    background-size: cover;
       
    } 
    
.flex-container {

    display: flex;
    justify-content: space-around;
    
        
    } 
    
.link-heather {
    all:unset;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    cursor: pointer;
            
        }

.link-heather:hover {

    color: chocolate;
        

        }

.my_name, h1, h2, p {
    font-family: 'Caveat', cursive; 
    font-size: 50px;
    color: white;
}
.vainas{
    font-family: 'Caveat', cursive;
    font-size: 25px;
}

.me {
    width: 250px;
}


.box {
    width: 550px;
    height: 550px;
    background: rgba(0,0,0, .4);
    margin: 0 auto;
    margin-top: 2%;
    padding: 10px;
    text-align: center;
    
    }

    
.flex-social {

    display: flex;
    justify-content:space-evenly;
    font-size: 80px;
    padding: 20px;
    height: 40px;
    width: auto;
    
}

.a-hover {
    color: white;

}


.a-hover:hover {

    color:blue;

}






    
     









    

    
